.navbar {

  &__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: 950px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__item {
    margin-left: 63px;

    &:first-child {
      margin-left: 0;
    }

    @media (max-width: 950px) {
      margin-left: 24px;
    }
  }

  &__link {
    display: inline-block;
    list-style: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #1D2530;

    @media (max-width: 950px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  .current {
    font-weight: 700;
    color: #685ed6;
  }
}

@media (max-width: 650px) {
  .navbar {
    position: fixed;
    top: 60px;
    right: -237px;
    height: 250px;
    width: 237px;
    background-color: #f8fBff;
    transition: all 0.5s ease 0s;
    display: flex;
    justify-content: center;
    padding: 32px 30px 20px;

    &__list {
      @media (max-width: 650px) {
        display: flex;
        flex-direction: column;

      }
    }

    &__item {
      margin: 0;

      &:not(:last-child) {
        margin-bottom: 24px;
      }
    }
  }
  .navbar.active {
    right: 0;
  }
}

.auth .navbar {
  padding: 32px 30px 20px;
}

.navbar-toggle {
  display: none;

  @media (max-width: 650px) {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    .burger {
      position: absolute;
      width: 100%;
      top: 8px;
      left: 0;
      height: 2px;
      background-color: #33afe1;
      border-radius: 2px;
      transition: all 0.3s ease 0s;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: #000;
      left: 0;
      transition: all 0.3s ease 0s;
    }

    &::before {
      top: 0;
      background: #685ed6;
    }

    &::after {
      bottom: 0;
      background: #18e1f7;
    }
  }
}

.navbar-toggle.active::before {
  transform: rotate(45deg);
  top: 8px;
  width: 33px;
  height: 2.5px;
  background: #685ED6;
}

.navbar-toggle.active .burger {
  transform: scale(0);
}


.navbar-toggle.active::after {
  transform: rotate(-45deg);
  top: 8px;
  width: 33px;
  height: 2.5px;
  background: #685ED6;
}
