.reviews {
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  background: rgba(242, 247, 255, 0.5);

  &__container {
    margin-bottom: 90px;
    padding-top: 15px;
    position: relative;

    @media (max-width: 992px) {
      padding-top: 60px;
    }

    .quote {
      position: absolute;
      top: 0;
      right: 15px;
      width: 143px;
      height: 121px;
      background-repeat: no-repeat;

      @media (max-width: 1134px) {
        right: 50px;
      }

      @media (max-width: 992px) {
        width: 112px;
        height: 95px;
        top: 30px;
      }

      @media (max-width: 767px) {
        top: 20px;
        right: 40px;
        width: 54px;
        height: 46px;
      }

      @media (max-width: 599.98px) {
        right: 15px;
      }
    }
  }

  .section-title {
    margin-bottom: 48px;

    @media (max-width: 992px) {
      margin-bottom: 40px;
    }
  }

  .review-slide {
    display: flex;
    flex-direction: column;
  }

  .comment-block {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 540px;
    padding: 32px 32px 56px;
    margin: 0 auto;
    margin-bottom: 28px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    text-align: center;
    position: relative;

    @media (max-width: 599px) {
      height: auto;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -13px;
      margin: 0 auto;
      width: 24px;
      height: 15px;
      background-image: url(..//img/triangle.svg);
      background-repeat: no-repeat;
    }

    &__header {
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      margin: 0;
      margin-bottom: 8px;
    }

    &__text {
      font-size: 14px;
      line-height: 24px;
      margin: 0;
    }
  }

  .swiper-pagination {
    display: none;
    position: absolute;
    left: 0;
    bottom: -34px;
    width: 100%;
    justify-content: center;
    gap: 12px;

    @media (max-width: 900px) {
      display: flex;
    }
  }
}

.client {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    display: block;
    margin-right: 16px;
  }

  &__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
  }

  &__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
  }

  &__website {
    font-size: 14px;
    line-height: 24px;
  }
}
